body {
    margin-left: 0px;
    margin-right: 0px;
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;
    border-bottom: 3px solid black;
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    text-align: center;
}

legend {
    font-size: 2em;
}

#answers {
    display: flex;
    flex-direction: column;
    font-size: 500;
}

#answers>div {
    border: 1.5px solid black;
    border-radius: 5px;
    width: 75vw;
    margin: 2px 0px;
    cursor: pointer;
}

#answers .incorrect {
    border-color: red;
    color: red;
}

#answers .correct {
    border-color: green;
    color: rgb(0, 100, 0);
}

label {
    cursor: pointer;
    width: 100%
}

nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
