body {
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(238, 238, 238);
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;
    border-bottom: 3px solid black;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    text-align: center;
}

legend {
    font-size: 1.25em;
    margin-top: 0.67em;
    font-weight: bold;
}

#query {
    font-size: 1em;
}

#answers {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    width: 100%;
    margin-bottom: 4px;
}

#answers>div {
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 2px 0px;
    cursor: pointer;
    user-select: none;
    min-height: fit-content;
    max-height: 500px;
    background-color: white;
}

#answers .incorrect {
    border-color: red;
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

#answers .correct {
    border-color: green;
    color: rgb(0, 100, 0);
    background-color: rgba(0, 255, 0, 0.05);
}

label {
    cursor: pointer;
    width: 100%
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav>input, button {
    flex-grow: 1;
    width: 100px;
    border-radius: 4px;
    border-color:rgb(35, 129, 121);
    background-color: white;
    margin: 0px 5px;
}

button {
    margin: 5px;
    width: 12em;
}

#results {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 35em;
}

#results>p {
    margin: 0px;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 3px;
}

h2 {
    margin-bottom: 8px;
    font-size: 1.5em;
}

h3 {
    margin-top: 8px;
    margin-bottom: 5px;
}

table {
    font-size: 12.5px;
    border-spacing: 0px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}


td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

th {
    border-bottom: 2px solid black;
}

th:first-of-type {
    border-top-left-radius: 8px;
}
th:last-of-type {
    border-top-right-radius: 8px;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 8px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 8px;
}
